<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 style="margin: 20px;">Error!</h1>
        <h2>Wystąpił nieoczekiwany błąd.</h2>
    </hgroup>
</body>
</html>
